/* Header Banner and text section */
.head {
    position: relative;
    /* width: 100%;
    height: 100vh; */

}

/* .head-image {
    width: 1600px;
    height: 808px;
} */

.img {
    width: 569px;
    height: 720px;
}

.head-text {
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: right;
}

.head-title {
    font-size: 65px;
    text-align: right;
    margin-bottom: 24px;
    font-weight: 700;
}

.head-description {}

.btn {
    margin-bottom: 166px;
}

.btn-primary {
    height: 64px;
    width: 160px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #fdcfbf;
    color: #005FAC;

}

/* Body Information Style */
.body-info {
    width: 1072px;
    height: 723.3px;
    display: flex;
    gap: 80px;
    /* background-color: rgb(206, 215, 224); */
    align-content: center;
    margin-left: 150px;
    margin-top: 130px;
    border-radius: 15px;
    border: 5px dotted #2e1437;
}

.body-description {
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 220px;
}

.heading {
    font-weight: 700;
    font-size: 40px;
}

.body-item {
    color: #444343;
    font-weight: 400;
    font-size: 16px;

}

.body-list-item {
    padding-top: 8px;
    padding-bottom: 5px;
}

.section-2-title {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 130px;
    font-weight: 700;
    font-size: 40px;
}

.section-2-info {
    display: flex;
    width: 1141px;
    height: 200px;
    padding-bottom: 120px;
    flex-direction: row row row row;
    gap: 150px;
    margin-left: 200px;
    align-items: center;
    position: absolute;
}

.section-2-item {
    justify-content: center;
    text-align: center;
}

.section-2-sub-title {
    margin-bottom: 5px;
}

.section-2-description {
    padding-top:none;
}