* {
    margin: 0px;
    padding: 0px;
}

/* Header Banner and text section */
.head {
    position: relative;


}

.img {
    width: 569px;
    height: 720px;
}

.head-text {
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: right;
}

.head-title {
    font-size: 65px;
    text-align: right;
    margin-bottom: 24px;
    font-weight: 700;
}

/* .head-description {} */

.btn {
    margin-bottom: 166px;
    padding-bottom: 50px;
}

.btn-primary {
    height: 64px;
    width: 160px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #480048;
    color: #ffffff;
    margin-top: 32px;

}

/* Body Information Style */
.body-info {
    width: 1072px;
    height: 723.3px;
    display: flex;
    gap: 80px;

    align-content: center;
    margin-left: 150px;
    margin-top: 130px;
    border-radius: 15px;

}

.body-description {
    text-align: left;
    padding: 220px 30px 15px 10px;
 
}

.heading {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 25px;
}

.body-item {
    color: #444343;
    font-weight: 400;
    font-size: 16px;

}

.body-list-item {
    padding-top: 8px;
    padding-bottom: 5px;
}

.section-2-title {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 130px;
    font-weight: 700;
    font-size: 40px;
}

.section-2-info {
    display: flex;
    width: 1141px;
    height: 200px;
    padding-bottom: 150px;
    flex-direction: row row row row;
    gap: 150px;
    margin-left: 200px;
    align-items: center;
    position: absolute;
}

.section-2-item {
    justify-content: center;
    text-align: center;
}

.section-2-sub-title {
    margin-bottom: 5px;
}

.section-2-description {
    padding-top: none;
}

/* Gradient Option */
.container {
    width: 1140px;
    height: 300px;
    background: url('../images/watch.png');
    margin-top: 250px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding-left: 64px;
    padding-top: 65px;
    background-repeat: no-repeat;
    position: relative;
}

.container-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;


}

.color-overlay {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("images/gradient1.png");
    background-blend-mode: lighten;
    border-radius: 8px;

}

/* footer section */
.footer {
    width: 1600px;
    height: 577px;
    background: #151414;
    display: flex;
}

.footer-part-1,
.footer-part-2 {
    color: #F8F8F8;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 170px;
    margin-bottom: 16px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 170px;
}
.footer-image{
    margin-left: 180px;
    justify-content: space-between;

}
.footer-part-2{
    font-weight: 600;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 170px;
    margin-bottom: 16px;
    
}
.email-part{
    height:50px;
    width: 200px;
    border: 1px solid red;
    margin-bottom: 2px;
    border-radius: 5px;
}
.footer-title-2{
    margin-bottom: 16px;
}